src/Infrastructure/Service References/ExternalServices.PayPalService/PayPalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PayPalServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PayPalServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreditCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardExpiration" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCard" nillable="true" type="tns:CreditCard" />
  <xs:simpleType name="CardValidationResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Valid" />
      <xs:enumeration value="Expired" />
      <xs:enumeration value="InvalidCardNumber" />
      <xs:enumeration value="MissingCvv2Code" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CardValidationResult" nillable="true" type="tns:CardValidationResult" />
</xs:schema>