src/Infrastructure/Service References/ExternalServices.PayPalService/PayPalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PayPalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:21320/PayPalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:21320/PayPalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:21320/PayPalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PayPalServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PayPalService_ValidateCreditCard_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCreditCard" />
  </wsdl:message>
  <wsdl:message name="PayPalService_ValidateCreditCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCreditCardResponse" />
  </wsdl:message>
  <wsdl:message name="PayPalService_VerifyAvailableFunds_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAvailableFunds" />
  </wsdl:message>
  <wsdl:message name="PayPalService_VerifyAvailableFunds_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAvailableFundsResponse" />
  </wsdl:message>
  <wsdl:message name="PayPalService_ChargeAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:ChargeAccount" />
  </wsdl:message>
  <wsdl:message name="PayPalService_ChargeAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChargeAccountResponse" />
  </wsdl:message>
  <wsdl:message name="PayPalService_SubmitFraudRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitFraudRequest" />
  </wsdl:message>
  <wsdl:message name="PayPalService_SubmitFraudRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitFraudRequestResponse" />
  </wsdl:message>
  <wsdl:message name="PayPalService_IsCardHighRisk_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCardHighRisk" />
  </wsdl:message>
  <wsdl:message name="PayPalService_IsCardHighRisk_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCardHighRiskResponse" />
  </wsdl:message>
  <wsdl:message name="PayPalService_BillToAlternatePayPalAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:BillToAlternatePayPalAddress" />
  </wsdl:message>
  <wsdl:message name="PayPalService_BillToAlternatePayPalAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:BillToAlternatePayPalAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="PayPalService">
    <wsdl:operation name="ValidateCreditCard">
      <wsdl:input wsaw:Action="http://tempuri.org/PayPalService/ValidateCreditCard" message="tns:PayPalService_ValidateCreditCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PayPalService/ValidateCreditCardResponse" message="tns:PayPalService_ValidateCreditCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyAvailableFunds">
      <wsdl:input wsaw:Action="http://tempuri.org/PayPalService/VerifyAvailableFunds" message="tns:PayPalService_VerifyAvailableFunds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PayPalService/VerifyAvailableFundsResponse" message="tns:PayPalService_VerifyAvailableFunds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChargeAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/PayPalService/ChargeAccount" message="tns:PayPalService_ChargeAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PayPalService/ChargeAccountResponse" message="tns:PayPalService_ChargeAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFraudRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/PayPalService/SubmitFraudRequest" message="tns:PayPalService_SubmitFraudRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PayPalService/SubmitFraudRequestResponse" message="tns:PayPalService_SubmitFraudRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCardHighRisk">
      <wsdl:input wsaw:Action="http://tempuri.org/PayPalService/IsCardHighRisk" message="tns:PayPalService_IsCardHighRisk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PayPalService/IsCardHighRiskResponse" message="tns:PayPalService_IsCardHighRisk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BillToAlternatePayPalAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/PayPalService/BillToAlternatePayPalAddress" message="tns:PayPalService_BillToAlternatePayPalAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PayPalService/BillToAlternatePayPalAddressResponse" message="tns:PayPalService_BillToAlternatePayPalAddress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_PayPalService" type="tns:PayPalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateCreditCard">
      <soap:operation soapAction="http://tempuri.org/PayPalService/ValidateCreditCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAvailableFunds">
      <soap:operation soapAction="http://tempuri.org/PayPalService/VerifyAvailableFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChargeAccount">
      <soap:operation soapAction="http://tempuri.org/PayPalService/ChargeAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFraudRequest">
      <soap:operation soapAction="http://tempuri.org/PayPalService/SubmitFraudRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCardHighRisk">
      <soap:operation soapAction="http://tempuri.org/PayPalService/IsCardHighRisk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillToAlternatePayPalAddress">
      <soap:operation soapAction="http://tempuri.org/PayPalService/BillToAlternatePayPalAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayPalService">
    <wsdl:port name="BasicHttpBinding_PayPalService" binding="tns:BasicHttpBinding_PayPalService">
      <soap:address location="http://localhost:21320/PayPalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>